/*------ stile generale della pagina ------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

/*------ contenitore della pagina ------*/
.frame {
    max-width: 1200px;
    margin: auto;
}

/*------ header della pagina ------*/
header {
    padding-top: 20px;
    background-image: url(img/jumbo.png);
}
header::after {
    content: "";
    display: table;
    clear: both;
}

/*------ header logo e login della pagina ------*/
.logo ,.main-nav ,.login {
    float: left;
}
.logo ,.login {
    width: 20%;
}
.login {
    text-align: right;
}
#access {
    background-color: white;
    border-radius: 20px;
    border: 1px transparent;
    padding: 8px 12px;
}

/*------ header navigazione della pagina ------*/
.main-nav li ,.main-nav li a {
    display: inline-block;
}
.main-nav li a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}
.main-nav {
    width: calc(60% - 20px);
    text-align: center;
    margin: 5px;
}

/*------ jumbotron ------*/
.jumbotron {
    position: relative;
    height: 500px;
    width: 100%;
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/*------ jumbotron title ------*/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.hero h1 ,.hero p ,.hero nav {
    text-align: center;
}
h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 40px;
}
.hero p {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

/*------ jumbotron download ------*/
.hero nav input{
    margin: 0 15px;
}
#download-apple ,#new-page {
    border-radius: 20px;
    border: 1px transparent;
    padding: 12px 16px;
}
#download-apple {
    background-color: white;
}
#new-page {
    background-color: rgb(35, 39, 42);
    color: white;
}

/*------ main della pagina ------*/
/* .background1 {
    background-color: red;
    width: 100%;
} */
.background2 {
    background-color: lightgrey;
    width: 100%;
}

/*------ main article della pagina ------*/
.box {
    padding: 200px 0;
}
.box::after {
    content: "";
    display: table;
    clear: both;
}
.caption-left ,.caption-right {
    vertical-align: middle;
    margin: 0 50px;
    width: 30%;
}
.caption-top {
    text-align: center;
}
.caption-left {
    float: left;
}
.caption-right {
    float: right;
}
.caption-left h2 ,.caption-right h2 ,.caption-top h2 {
    font-size: 44px;
    padding: 20px 0;
}
.caption-left span ,.caption-right span ,.caption-top span {
    font-size: 20px;
}

/*------ main img della pagina ------*/
.picture-left ,.picture-right {
    width: calc(70% - 100px);
}
.picture-left img ,.picture-right img {
    width: 100%;
}
.picture-left {
    float: left;
}
.picture-right {
    float: right;
}
.picture-bottom img {
    width: 100%;
}


.stelline {
    background-image: url(img/stars.svg);
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}
.stelline h3 {
    text-align: center;
}


