/*------ general ------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    color: rgb(35, 39, 42);
    font-family: 'Poppins', sans-serif;
}

/*------ container ------*/
.frame {
    max-width: 1200px;
    margin: auto;
}

/*------ header ------*/
header {
    padding-top: 20px;
    background-image: url(img/jumbo.png);
}
header::after {
    content: "";
    display: table;
    clear: both;
}

/*------ header logo and login ------*/
.logo ,.header-nav ,.login {
    float: left;
}
.logo ,.login {
    width: 20%;
}
.login {
    text-align: right;
}
#access {
    background-color: white;
    border-radius: 20px;
    border: 1px transparent;
    padding: 8px 12px;
}

/*------ header navigation ------*/
.header-nav {
    width: calc(60% - 20px);
    text-align: center;
    margin: 5px;
}
.header-nav li a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}
.header-nav li ,.header-nav li a {
    display: inline-block;
}

/*------ jumbotron ------*/
.jumbotron {
    position: relative;
    height: 500px;
    width: 100%;
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/*------ jumbotron text ------*/
.hero {
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.hero h1 ,.hero p ,.hero nav {
    text-align: center;
}
h1 {
    color: white;
    font-size: 46px;
    margin-bottom: 30px;
}
.hero p {
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}

/*------ jumbotron download ------*/
.hero nav input{
    margin: 0 15px;
}
#download-apple ,#new-page, #download-apple2{
    font-size: 16px;
    font-weight: 700;
    border-radius: 30px;
    border: 1px transparent;
    padding: 14px 18px;
}
#download-apple {
    background-color: white;
}
#new-page {
    background-color: rgb(35, 39, 42);
    color: white;
}

/*------ main ------*/
/* .background1 {
    background-color: red;
    width: 100%;
} */
.background2 {
    background-color: lightgrey;
    width: 100%;
}

/*------ main article ------*/
.box {
    padding: 140px 0;
}
.box::after {
    content: "";
    display: table;
    clear: both;
}
.caption-left ,.caption-right {
    margin: 0 50px;
    width: 35%;
}
.caption-top {
    text-align: center;
}
.caption-left {
    float: left;
}
.caption-right {
    float: right;
}
.caption-left h2 ,.caption-right h2 ,.caption-top h2 {
    width: 100%;
    font-size: 44px;
    padding: 20px 0;
}
.caption-left span ,.caption-right span ,.caption-top span {
    width: 100%;
    font-size: 20px;
}

/*------ main img ------*/
.picture-left ,.picture-right {
    width: calc(65% - 100px);
}
.picture-left img ,.picture-right img {
    width: 100%;
}
.picture-left {
    float: left;
}
.picture-right {
    float: right;
}
.picture-bottom img {
    width: 100%;
}

/*------ main download ------*/
.stars {
    margin: 0 25%;
}
.stars h3 {
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    height: 60px;
    margin-bottom: 20px;
    background-image: url(img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
#download-apple2 {
    background-color: rgb(142, 161, 225);
    color: white;
    display: block;
    margin: auto;
}

/*------ footer ------*/
.background-footer {
    background-color: rgb(35, 39, 42);
}
h4 {
    color: rgb(114, 137, 218);
}
.credits::after {
    content: "";
    display: table;
    clear: both;
}
.credits {
    padding: 80px 0 20px 0;
}
.credits .social {
    color: rgb(114, 137, 218);
    width: 20%;
    margin-right: 120px;
    float: left;
}
.footer-nav {
    width: calc(100% / 5 - 120px);
    margin: 0 40px;
    float: left;
}
.footer-nav li {
    margin: 10px 0;
}
.footer-nav li a {
    text-decoration: none;
    color: white;
}
.blue {
    height: 5px;
    background-color: red;
}
.red {
    color: red;
}

